@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(-90deg, white, rgb(168, 165, 165));
  overflow: hidden;
}

.container {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, minmax(200px, auto));
}

.navigation-bar {
  grid-column: 1/12;
  grid-row: 1/2;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav #logo {
  width: 300px;
  height: 100px;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

.rotate {
  transform: rotateY(360deg);
}

.nav-items {
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-right: 150px;
}

.nav-btn {
  margin: 0 15px 0 15px;
  width: 110px;
  height: 40px;

  font-size: 12px;
  font-weight: 400;
  border: 2px solid black;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
}

.nav-btn:hover {
  background: rgb(40, 40, 40);
  color: white;
}

main {
  grid-column: 1/12;
  grid-row: 2/4;

  display: flex;
  flex-direction: row;
}

#about {
  margin-left: 150px;
  position: relative;
}

#about h2 {
  margin-bottom: 35px;
  font-size: 52px;
  font-weight: 800;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

#about p {
  font-size: 15px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

#about button {
  margin-top: 10px;
  width: 140px;
  height: 35px;
  background-color: black;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

#about button:hover {
  background: rgba(245, 245, 245, 0.585);
  color: black;
  border-color: black;
}

#biggie {
  width: 400px;
  height: 400px;
  margin-left: 300px;
  position: relative;
  bottom: 80px;
  filter: drop-shadow(-20px 20px 4px gray);
  transition: all 0.5s;
  display: block;
}

section {
  width: 100%;

  grid-column: 1/12;
  grid-row: 4/6;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.smallie {
  width: 80px;
  height: 80px;
  transition: all 0.5s;
  cursor: pointer;
}

.smallie:hover {
  -webkit-animation: shake 0.85s ease-in-out both;
  animation: shake 0.85s ease-in-out both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.moveAway {
  -webkit-animation: moveAway 0.85s ease-in-out both;
  animation: moveAway 0.85s ease-in-out both;
}

@keyframes moveAway {
  0% {
    position: relative;
    left: 0;
  }

  100% {
    position: relative;
    left: 500px;
  }
}

@-webkit-keyframes moveAway {
  0% {
    position: relative;
    left: 0;
  }

  100% {
    position: relative;
    left: 500px;
  }
}

.moveIn {
  -webkit-animation: moveIn 1s ease-in-out both;
  animation: moveIn 1s ease-in-out both;
}

@keyframes moveIn {
  0% {
    position: relative;
    left: 500px;
  }

  100% {
    position: relative;
    left: 0;
  }
}

@-webkit-keyframes moveIn {
  0% {
    position: relative;
    left: 500px;
  }

  100% {
    position: relative;
    left: 0;
  }
}
